.espacio{
	padding-top: 15%;
}
.br{
	margin-top: 5px;
	margin-bottom: 5px;
}
body{
	background-image: url(../images/fondo.jpg);	
}
.contenedor-login{
	background:rgba(0,0,0,.5); 
	padding: 3px;
	border-radius: 20px;
}
.login{
	background: rgba(255,255,255,.5); 
	padding: 10px;
	border-radius: 20px;
}